body {
  background-color: lightgrey;
}

#progress {
  width: 100%;
  border: 2px black solid;
  border-radius: 4px;
  height: 40px;
}

#progressBar {
  background-color: rgb(79, 79, 153);
  width: 0%;
  height: 34px;
  margin: 3px;
}

#appAndPetContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

#app, #pet {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#pet {
  z-index: 10;
  align-items: center;
  justify-content: center;
  margin: 12% 45%;
}

#app {
  display: flex;
  flex-flow: row wrap;
  .quadInfo {
    margin-left: 85px;
  }
  h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3em;
  }
  h3 {
    font-family: Arial, Helvetica, sans-serif;
  }
  button {
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
  }
  #eat {
    background-color: pink;
    width: 48%;
    margin: 1%;
    border-radius: 200px 0px 0px 0px;
  }
  #play {
    background-color: green;
    width: 48%;
    margin: 1%;
    border-radius: 0px 200px 0px 0px;

  }
  #fight {
    background-color: orange;
    width: 48%;
    margin: 1%;
    border-radius: 0px 0px 0px 200px;

  }
  #sleep {
    background-color: purple;
    width: 48%;
    margin: 1%;
    border-radius: 0px 0px 200px 0px;

  }
  button {
    background-color: rgb(175, 172, 172);
    font-size: .75em;
    border-radius: 10%;
  }
}